<section class="mainSection">
    <div class="content" role="main">
        <section style="background:white; margin-right:120px; margin-left:120px; padding-bottom:40px; border: thick double #32a1ce; border-radius:30px;">
          <section id="home">
                  <h2>Get the Future you Want by Capgemini Engineering</h2> 
                  <br>
                  <p > As the world leader in Engineering and R&D services, we help our clients accelerate their journey towards intelligent industry. We bring them global expertise and capabilities, cutting-edge technologies in digital and software, agile engineering platforms, and an industrialized delivery model.</p>
                </section>
                </section>
    </div>
</section>