<section>
    <div class="bar">
        <div class="searchBar">
    <form class="form-inline d-flex justify-content-center md-form form-sm">
        <input class="form-control form-control-sm mr-4 w-75" type="text" placeholder="Search"
          aria-label="Search">
        <a><i class="fa fa-search" aria-hidden="true"></i></a>
      </form>
  </div>
<div class="addArchive">
    <button routerLink="/app-add-archive" type="button" class="btn btn-light">Add Archive</button>

</div>
    </div>


   
<div class="archive">
    <div class="filter">
        <h5>Filter Archives</h5>
        <div class="checkbox">
            <h6>Select Departement</h6>
            
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
    <label class="form-check-label" for="flexCheckDefault">Direction Techniaue MG2</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Life Science</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked/>
    <label class="form-check-label" for="flexCheckChecked">Power Train</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Qualité et Logistique</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Systems</label>
  </div>
        </div>
        <div class="checkbox">
            <h6>Select Cluster</h6>
            
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
    <label class="form-check-label" for="flexCheckDefault">QPV</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">ATN</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked/>
    <label class="form-check-label" for="flexCheckChecked">Body</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">CAE and validation Engineering</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">CAE MG2</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Connected Electrics and electronics Eng</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Data Management</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Fonction support Quality/GPO</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">IS4.0</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Life Science</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Mechatronics</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Powertrain and Modular Platform Design</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Quality</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Railways and trucks Engineering</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Supply chain</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Systems Engineering</label>
  </div>
        </div>

        <div class="checkbox">
            <h6>Select Club</h6>
            
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
    <label class="form-check-label" for="flexCheckDefault">Automation</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Club Agile</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked/>
    <label class="form-check-label" for="flexCheckChecked">Club AI and ML</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Club Business</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Club EVENTS SPORTS </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Club Robotics, VR and AR</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Club School Networking </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Club VIDEOS and SOCIAL MEDIA</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">Club ZERO CARBONE</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">None</label>
  </div>
  
        </div>
        <div class="checkbox">
            <h6>Select Type</h6>
            
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
    <label class="form-check-label" for="flexCheckDefault">FILE</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">JPG</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked/>
    <label class="form-check-label" for="flexCheckChecked">PDF</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">PPT</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">WORD </label>
  </div>
        </div>

    </div>
    <div class="recent">
        <h5>Recent Archives</h5>
        <div class="archiveContent">
            <div class="col-md-4 mb-2 " style="height:fit-content;">
                <div class="card-deck card-content">
                  <div class="card border-secondary h-100" >
                    
                    <div class="card-body">
                      <h4 class="card-title nom">Rapport_PFE_BMS</h4>
                      <p>
                      <div title="aaaa" class="text-flow"> Departement : Systems</div>
                      <div title="aaaa" class="text-flow">Cluster : Systems </div>
                      <div title="aaaa" class="text-flow">Team Manager : ALAMY</div>
                      <div title="aaaa" class="text-flow">Team Leader : EL ALAMI</div>
                      <div title="aaaa" class="text-flow">Club : None</div>
                      <div title="aaaa" class="text-flow">Type : PDF</div>
                      <div title="aaaa" class="text-flow">Confidentiality : public</div>
                      <div title="aaaa" class="text-flow">Description : Development and deployment of a Machine Learning algorithm for detection and prevention of attacks on the CAN bus.</div>

    
                      <a class="btn btn-light btnDownload"  href="javascript:void(0)" style="cursor:pointer"
                      (click)="downloadPdf('./././pdf/Rapport_PFE_BMS.pdf','your_pdf_file')" target="_blank">Download</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4 mb-2 " style="height:fit-content;">
                <div class="card-deck card-content">
                  <div class="card border-secondary h-100 " >
                    
                    <div class="card-body">
                      <h4 class="card-title nom">Rapport_PFE_BMS</h4>
                      <p>
                      <div title="aaaa" class="text-flow"> Departement : Systèmes</div>
                      <div title="aaaa" class="text-flow">Cluster : Systems </div>
                      <div title="aaaa" class="text-flow">Team Manager : ALAMY</div>
                      <div title="aaaa" class="text-flow">Team Leader : EL ALAMI</div>
                      <div title="aaaa" class="text-flow">Club : None</div>
                      <div title="aaaa" class="text-flow">Type : PDF</div>
                      <div title="aaaa" class="text-flow">Confidentiality : public</div>
                      <div title="aaaa" class="text-flow">Description : Development and deployment of a Machine Learning algorithm for detection and prevention of attacks on the CAN bus.</div>

    
                      <a class="btn btn-light btnDownload"  href="javascript:void(0)" style="cursor:pointer"
                      (click)="downloadPdf('./././pdf/Rapport_PFE_BMS.pdf','your_pdf_file')" target="_blank">Download</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4 mb-2 " style="height:fit-content;">
                <div class="card-deck card-content">
                  <div class="card border-secondary h-100 " >
                    
                    <div class="card-body">
                      <h4 class="card-title nom">Rapport_PFE_BMS</h4>
                      <p>
                      <div title="aaaa" class="text-flow"> Departement : Systèmes</div>
                      <div title="aaaa" class="text-flow">Cluster : Systems </div>
                      <div title="aaaa" class="text-flow">Team Manager : ALAMY</div>
                      <div title="aaaa" class="text-flow">Team Leader : EL ALAMI</div>
                      <div title="aaaa" class="text-flow">Club : None</div>
                      <div title="aaaa" class="text-flow">Type : PDF</div>
                      <div title="aaaa" class="text-flow">Confidentiality : public</div>
                      <div title="aaaa" class="text-flow">Description : Development and deployment of a Machine Learning algorithm for detection and prevention of attacks on the CAN bus.</div>

    
                      <a class="btn btn-light btnDownload"  href="javascript:void(0)" style="cursor:pointer"
                      (click)="downloadPdf('./././pdf/Rapport_PFE_BMS.pdf','your_pdf_file')" target="_blank">Download</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4 mb-2 " style="height:fit-content;">
                <div class="card-deck card-content">
                  <div class="card border-secondary h-100 " >
                    
                    <div class="card-body">
                      <h4 class="card-title nom">Rapport_PFE_BMS</h4>
                      <p>
                      <div title="aaaa" class="text-flow"> Departement : Systèmes</div>
                      <div title="aaaa" class="text-flow">Cluster : Systems </div>
                      <div title="aaaa" class="text-flow">Team Manager : ALAMY</div>
                      <div title="aaaa" class="text-flow">Team Leader : EL ALAMI</div>
                      <div title="aaaa" class="text-flow">Club : None</div>
                      <div title="aaaa" class="text-flow">Type : PDF</div>
                      <div title="aaaa" class="text-flow">Confidentiality : public</div>
                      <div title="aaaa" class="text-flow">Description : Development and deployment of a Machine Learning algorithm for detection and prevention of attacks on the CAN bus.</div>

    
                      <a class="btn btn-light btnDownload"  href="javascript:void(0)" style="cursor:pointer"
                      (click)="downloadPdf('./././pdf/Rapport_PFE_BMS.pdf','your_pdf_file')" target="_blank">Download</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4 mb-2 " style="height:fit-content;">
                <div class="card-deck card-content">
                  <div class="card border-secondary h-100 " >
                    
                    <div class="card-body">
                      <h4 class="card-title nom">Rapport_PFE_BMS</h4>
                      <p>
                      <div title="aaaa" class="text-flow"> Departement : Systèmes</div>
                      <div title="aaaa" class="text-flow">Cluster : Systems </div>
                      <div title="aaaa" class="text-flow">Team Manager : ALAMY</div>
                      <div title="aaaa" class="text-flow">Team Leader : EL ALAMI</div>
                      <div title="aaaa" class="text-flow">Club : None</div>
                      <div title="aaaa" class="text-flow">Type : PDF</div>
                      <div title="aaaa" class="text-flow">Confidentiality : public</div>
                      <div title="aaaa" class="text-flow">Description : Development and deployment of a Machine Learning algorithm for detection and prevention of attacks on the CAN bus.</div>

    
                      <a class="btn btn-light btnDownload"  href="javascript:void(0)" style="cursor:pointer"
                      (click)="downloadPdf('./././pdf/Rapport_PFE_BMS.pdf','your_pdf_file')" target="_blank">Download</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4 mb-2 " style="height:fit-content;">
                <div class="card-deck card-content">
                  <div class="card border-secondary h-100 " >
                    
                    <div class="card-body">
                      <h4 class="card-title nom">Rapport_PFE_BMS</h4>
                      <p>
                      <div title="aaaa" class="text-flow"> Departement : Systèmes</div>
                      <div title="aaaa" class="text-flow">Cluster : Systems </div>
                      <div title="aaaa" class="text-flow">Team Manager : ALAMY</div>
                      <div title="aaaa" class="text-flow">Team Leader : EL ALAMI</div>
                      <div title="aaaa" class="text-flow">Club : None</div>
                      <div title="aaaa" class="text-flow">Type : PDF</div>
                      <div title="aaaa" class="text-flow">Confidentiality : public</div>
                      <div title="aaaa" class="text-flow">Description : Development and deployment of a Machine Learning algorithm for detection and prevention of attacks on the CAN bus.</div>

    
                      <a class="btn btn-light btnDownload"  href="javascript:void(0)" style="cursor:pointer"
                      (click)="downloadPdf('./././pdf/Rapport_PFE_BMS.pdf','your_pdf_file')" target="_blank">Download</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4 mb-2 " style="height:fit-content;">
                <div class="card-deck card-content">
                  <div class="card border-secondary h-100 " >
                    
                    <div class="card-body">
                      <h4 class="card-title nom">Rapport_PFE_BMS</h4>
                      <p>
                      <div title="aaaa" class="text-flow"> Departement : Systèmes</div>
                      <div title="aaaa" class="text-flow">Cluster : Systems </div>
                      <div title="aaaa" class="text-flow">Team Manager : ALAMY</div>
                      <div title="aaaa" class="text-flow">Team Leader : EL ALAMI</div>
                      <div title="aaaa" class="text-flow">Club : None</div>
                      <div title="aaaa" class="text-flow">Type : PDF</div>
                      <div title="aaaa" class="text-flow">Confidentiality : public</div>
                      <div title="aaaa" class="text-flow">Description : Development and deployment of a Machine Learning algorithm for detection and prevention of attacks on the CAN bus.</div>

    
                      <a class="btn btn-light btnDownload"  href="javascript:void(0)" style="cursor:pointer"
                      (click)="downloadPdf('./././pdf/Rapport_PFE_BMS.pdf','your_pdf_file')" target="_blank">Download</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4 mb-2 " style="height:fit-content;">
                <div class="card-deck card-content">
                  <div class="card border-secondary h-100 " >
                    
                    <div class="card-body">
                      <h4 class="card-title nom">Rapport_PFE_BMS</h4>
                      <p>
                      <div title="aaaa" class="text-flow"> Departement : Systèmes</div>
                      <div title="aaaa" class="text-flow">Cluster : Systems </div>
                      <div title="aaaa" class="text-flow">Team Manager : ALAMY</div>
                      <div title="aaaa" class="text-flow">Team Leader : EL ALAMI</div>
                      <div title="aaaa" class="text-flow">Club : None</div>
                      <div title="aaaa" class="text-flow">Type : PDF</div>
                      <div title="aaaa" class="text-flow">Confidentiality : public</div>
                      <div title="aaaa" class="text-flow">Description : Development and deployment of a Machine Learning algorithm for detection and prevention of attacks on the CAN bus.</div>

    
                      <a class="btn btn-light btnDownload"  href="javascript:void(0)" style="cursor:pointer"
                      (click)="downloadPdf('./././pdf/Rapport_PFE_BMS.pdf','your_pdf_file')" target="_blank">Download</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4 mb-2 " style="height:fit-content;">
                <div class="card-deck card-content">
                  <div class="card border-secondary h-100 " >
                    
                    <div class="card-body">
                      <h4 class="card-title nom">Rapport_PFE_BMS</h4>
                      <p>
                      <div title="aaaa" class="text-flow"> Departement : Systèmes</div>
                      <div title="aaaa" class="text-flow">Cluster : Systems </div>
                      <div title="aaaa" class="text-flow">Team Manager : ALAMY</div>
                      <div title="aaaa" class="text-flow">Team Leader : EL ALAMI</div>
                      <div title="aaaa" class="text-flow">Club : None</div>
                      <div title="aaaa" class="text-flow">Type : PDF</div>
                      <div title="aaaa" class="text-flow">Confidentiality : public</div>
                      <div title="aaaa" class="text-flow">Description : Development and deployment of a Machine Learning algorithm for detection and prevention of attacks on the CAN bus.</div>

    
                      <a class="btn btn-light btnDownload"  href="javascript:void(0)" style="cursor:pointer"
                      (click)="downloadPdf('./././pdf/Rapport_PFE_BMS.pdf','your_pdf_file')" target="_blank">Download</a>
                    </div>
                  </div>
                </div>
            </div>



            </div>
        </div>
        
    </div>
   




</section>