.modal-open {
    overflow: hidden;
    height: 100%;
}

#contentWrapper {
    display: unset;
}

/***
* Reset CSS
*/

#tarteaucitronRoot div,
#tarteaucitronRoot span,
#tarteaucitronRoot applet,
#tarteaucitronRoot object,
#tarteaucitronRoot iframe,
#tarteaucitronRoot h1,
#tarteaucitronRoot h2,
#tarteaucitronRoot h3,
#tarteaucitronRoot h4,
#tarteaucitronRoot h5,
#tarteaucitronRoot h6,
#tarteaucitronRoot p,
#tarteaucitronRoot blockquote,
#tarteaucitronRoot pre,
#tarteaucitronRoot a,
#tarteaucitronRoot abbr,
#tarteaucitronRoot acronym,
#tarteaucitronRoot address,
#tarteaucitronRoot big,
#tarteaucitronRoot cite,
#tarteaucitronRoot code,
#tarteaucitronRoot del,
#tarteaucitronRoot dfn,
#tarteaucitronRoot em,
#tarteaucitronRoot img,
#tarteaucitronRoot ins,
#tarteaucitronRoot kbd,
#tarteaucitronRoot q,
#tarteaucitronRoot s,
#tarteaucitronRoot samp,
#tarteaucitronRoot small,
#tarteaucitronRoot strike,
#tarteaucitronRoot strong,
#tarteaucitronRoot sub,
#tarteaucitronRoot sup,
#tarteaucitronRoot tt,
#tarteaucitronRoot var,
#tarteaucitronRoot b,
#tarteaucitronRoot u,
#tarteaucitronRoot i,
#tarteaucitronRoot center,
#tarteaucitronRoot dl,
#tarteaucitronRoot dt,
#tarteaucitronRoot dd,
#tarteaucitronRoot ol,
#tarteaucitronRoot ul,
#tarteaucitronRoot li,
#tarteaucitronRoot fieldset,
#tarteaucitronRoot form,
#tarteaucitronRoot label,
#tarteaucitronRoot legend,
#tarteaucitronRoot table,
#tarteaucitronRoot caption,
#tarteaucitronRoot tbody,
#tarteaucitronRoot tfoot,
#tarteaucitronRoot thead,
#tarteaucitronRoot tr,
#tarteaucitronRoot th,
#tarteaucitronRoot td,
#tarteaucitronRoot article,
#tarteaucitronRoot aside,
#tarteaucitronRoot canvas,
#tarteaucitronRoot details,
#tarteaucitronRoot embed,
#tarteaucitronRoot figure,
#tarteaucitronRoot figcaption,
#tarteaucitronRoot footer,
#tarteaucitronRoot header,
#tarteaucitronRoot hgroup,
#tarteaucitronRoot menu,
#tarteaucitronRoot nav,
#tarteaucitronRoot output,
#tarteaucitronRoot ruby,
#tarteaucitronRoot section,
#tarteaucitronRoot summary,
#tarteaucitronRoot time,
#tarteaucitronRoot mark,
#tarteaucitronRoot audio,
#tarteaucitronRoot video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    /*background: initial;*/
    text-align: initial;
    text-shadow: initial;
    -webkit-font-smoothing: antialiased;
    font-family: AvenirNextLTW02-Medium !important;
}

/* HTML5 display-role reset for older browsers */

#tarteaucitronRoot article,
#tarteaucitronRoot aside,
#tarteaucitronRoot details,
#tarteaucitronRoot figcaption,
#tarteaucitronRoot figure,
#tarteaucitronRoot footer,
#tarteaucitronRoot header,
#tarteaucitronRoot hgroup,
#tarteaucitronRoot menu,
#tarteaucitronRoot nav,
#tarteaucitronRoot section {
    display: block;
}

#tarteaucitronRoot ol,
#tarteaucitronRoot ul {
    list-style: none;
}

#tarteaucitronRoot blockquote,
#tarteaucitronRoot q {
    quotes: none;
}

#tarteaucitronRoot blockquote:before,
#tarteaucitronRoot blockquote:after,
#tarteaucitronRoot q:before,
#tarteaucitronRoot q:after {
    content: '';
    content: none;
}

#tarteaucitronRoot table {
    border-collapse: collapse;
    border-spacing: 0;
}

#tarteaucitronRoot a:focus,
#tarteaucitronRoot button:focus {
    /*outline: 2px solid #cb3333;*/
    outline: none;
}

/***
 * Better scroll management
 */

div#tarteaucitronMainLineOffset {
    margin-top: 0 !important;
}

div#tarteaucitronServices {
    margin-top: 21px !important;
}

#tarteaucitronServices::-webkit-scrollbar {
    width: 5px;
}

#tarteaucitronServices::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

#tarteaucitronServices::-webkit-scrollbar-thumb {
    background-color: #ddd;
    outline: 0px solid slategrey;
}

div#tarteaucitronServices {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0, 0, 0, .2);
    padding: 40px;
    background-color: #fff;
}

/***
 * Responsive layout for the control panel
 */

@media screen and (max-width: 479px) {
    #tarteaucitron .tarteaucitronLine .tarteaucitronName {
        width: 90% !important;
    }

    #tarteaucitron .tarteaucitronLine .tarteaucitronAsk {
        float: left !important;
        margin: 10px 15px 5px;
    }
}

@media screen and (max-width: 767px) {
    #tarteaucitronAlertSmall #tarteaucitronCookiesListContainer,
    #tarteaucitron {
        background: #fff;
        border: 0 !important;
        bottom: 0 !important;
        height: 100% !important;
        left: 0 !important;
        margin: 0 !important;
        max-height: 100% !important;
        max-width: 100% !important;
        top: 0 !important;
        width: 100% !important;
    }

    #tarteaucitron .tarteaucitronBorder {
        border: 0 !important;
    }

    #tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList {
        border: 0 !important;
    }

    #tarteaucitron #tarteaucitronServices .tarteaucitronTitle {
        text-align: left !important;
    }

    .tarteaucitronName .tarteaucitronH2 {
        max-width: 80%;
    }

    #tarteaucitron #tarteaucitronServices .tarteaucitronLine .tarteaucitronAsk {
        text-align: center !important;
    }

    #tarteaucitron #tarteaucitronServices .tarteaucitronLine .tarteaucitronAsk button {
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #tarteaucitron {
        border: 0 !important;
        left: 0 !important;
        margin: 0 5% !important;
        max-height: 80% !important;
        width: 90% !important;
    }
}

/***
 * Common value
 */

#tarteaucitron * {
    zoom: 1;
}

#tarteaucitronRoot div#tarteaucitron {
    left: 0;
    right: 0;
    margin: auto;
}

#tarteaucitronRoot button#tarteaucitronBack {
    background: rgba(38, 47, 50, 0.8);

}

#tarteaucitron .clear {
    clear: both;
}

#tarteaucitron a {
    color: rgb(66, 66, 66);
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
}

#tarteaucitronRoot button {
    background: transparent;
    border: 0;
    font-family: Avenir Next LT W02 Bold !important;
    text-transform: uppercase;
    font-weight: 700;
}

#tarteaucitronAlertBig strong,
#tarteaucitronAlertSmall strong,
#tarteaucitronAlertBig a,
#tarteaucitronAlertSmall a {
    color: #3cbaff;
    text-decoration: underline;
}

#tarteaucitron strong {
    font-size: 22px;
    font-weight: 500;
}

#tarteaucitron ul {
    padding: 0;
}

#tarteaucitron .tarteaucitronH1,
#tarteaucitron .tarteaucitronH2,
#tarteaucitron .tarteaucitronH3,
#tarteaucitron .tarteaucitronH4,
#tarteaucitron .tarteaucitronH5,
#tarteaucitron .tarteaucitronH6 {
    display: block;
}

.cookie-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/***
 * Root div added just before </body>
 */

#tarteaucitronRoot {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

#tarteaucitronRoot * {
    box-sizing: initial;
    color: #333;
    font-family: sans-serif !important;
    font-size: 14px;
    line-height: normal;
    vertical-align: initial;
}

#tarteaucitronRoot .tarteaucitronH1 {
    font-size: 30px;
    color: #333;
    margin: 5px 0 8px;
    font-weight: 700;
    font-family: AvenirNextLTW01-Heavy !important;
    text-transform: uppercase;
}

#tarteaucitronRoot .tarteaucitronH2 {
    display: inline-block;
    margin: 12px 0 0 0;
    color: #333;
}

#tarteaucitronCookiesNumberBis.tarteaucitronH2 {
    margin-left: 0;
}

/***
 * Control panel
 */

#tarteaucitronBack {
    background: #fff;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2147483646;
}

#tarteaucitron {
    display: none;
    max-height: 80%;
    left: 50%;
    margin: 0 auto 0 -430px;
    padding: 0;
    position: fixed;
    top: 6%;
    width: 860px;
    z-index: 2147483647;
}

#tarteaucitron .tarteaucitronBorder {
    background: #fff;
    /* border: 2px solid #333; */
    border-top: 0;
    height: auto;
    overflow: auto;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronClosePanelCookie,
#tarteaucitron #tarteaucitronClosePanel {
    background: #fff;
    color: #333;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    padding: 4px 0 4px 10px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 36px;
    z-index: 99;
    white-space: nowrap;
    line-height: 1em;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronClosePanelCookie:hover,
#tarteaucitron #tarteaucitronClosePanel:hover {
    background: rgba(38, 47, 50, 0.05);;
}

#tarteaucitron #tarteaucitronDisclaimer {
    color: #555;
    font-size: 12px;
    margin: 15px auto 0;
    width: 80%;
}

.tarteaucitronSelfLink,
#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList .tarteaucitronHidden,
#tarteaucitron #tarteaucitronServices .tarteaucitronHidden {
    background: #fff
}

a.tarteaucitronSelfLink {
    text-align: center !important;
    display: block;
    padding: 7px !important;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronHidden {
    display: none;
    position: relative;
}

#tarteaucitronCookiesList .tarteaucitronH3.tarteaucitronTitle {
    width: 100%;
    box-sizing: border-box;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList .tarteaucitronTitle,
#tarteaucitron #tarteaucitronServices .tarteaucitronTitle button,
#tarteaucitron #tarteaucitronInfo,
#tarteaucitron #tarteaucitronServices .tarteaucitronDetails {
    color: #333;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    /* margin: 20px 0px 0px;
    padding: 5px 20px; */
    text-align: left;
    width: auto;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine .tarteaucitronName a,
#tarteaucitron #tarteaucitronServices .tarteaucitronTitle a {
    color: #333;
    font-weight: 500;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine .tarteaucitronName a:hover,
#tarteaucitron #tarteaucitronServices .tarteaucitronTitle a:hover {
    text-decoration: none !important;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine .tarteaucitronName a {
    font-size: 22px;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronTitle a {
    font-size: 14px;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList .tarteaucitronTitle {
    padding: 5px 10px;
    margin: 0;
}

#tarteaucitron #tarteaucitronInfo,
#tarteaucitron #tarteaucitronServices .tarteaucitronDetails {
    color: #333;
    /* display: none; */
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    padding: 0 0 15px 0 !important;
    border-bottom: 1px solid #999;
    width: 100%;
    display: block !important;
}

#tarteaucitron #tarteaucitronInfo a {
    color: #333;
    text-decoration: underline;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronLine:hover {
    background: #fff;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronLine {
    background: #fff;
    margin: 0;
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #aaa;
}

#tarteaucitron .tarteaucitronBorder .tarteaucitronLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine {
    margin-bottom: 0;
    margin-top: 21px;
    position: relative;
    color: #333
}

#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine:hover {
}

#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine .tarteaucitronName {
    margin-left: 15px;
    margin-top: 2px;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine .tarteaucitronName button {
    color: #333;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine .tarteaucitronAsk {
    margin-top: 0px !important;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronLine .tarteaucitronName {
    display: inline-block;
    float: left;
    /* margin-left: 10px; */
    text-align: left;
    width: 50%;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronLine .tarteaucitronName a:hover {
    text-decoration: underline;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronLine .tarteaucitronAsk {
    display: inline-block;
    float: right;
    margin: 7px 0 0;
    text-align: right;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronLine .tarteaucitronAsk .tarteaucitronAllow,
#tarteaucitron #tarteaucitronServices .tarteaucitronLine .tarteaucitronAsk .tarteaucitronDeny,
.tac_activate .tarteaucitronAllow {
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    width: auto;
    border: 0;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronLine .tarteaucitronName .tarteaucitronListCookies {
    color: #333;
    font-size: 12px;
}

#tarteaucitronRoot #tarteaucitron .tarteaucitronH3 {
    color: #666;
    font-weight: 700;
    font-size: 20px;
    font-family: AvenirNextLTW01-Heavy !important;
    text-transform: uppercase;
}

#tarteaucitron #tarteaucitronMainLineOffset .tarteaucitronName {
    width: auto !important;
    margin-left: 0 !important;
    font-size: 14px;
}

/***
 * Big alert
 */

.tarteaucitronAlertBigTop {
    top: 0;
}

.tarteaucitronAlertBigBottom {
    bottom: 0;
}

#tarteaucitronRoot #tarteaucitronAlertBig {
    background: #0080b0;
    border-top: 2px solid #ffffff;
    color: #333;
    display: none;
    font-size: 15px !important;
    left: 0;
    padding: 5px 5%;
    position: fixed;
    text-align: center;
    box-sizing: content-box;
    z-index: 9999;
    text-align: center;
    padding: 10px 10px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

#tarteaucitronRoot #tarteaucitronDisclaimerAlert {
    margin-right: 40px;
}

#tarteaucitronRoot #tarteaucitronAlertBigContent {
    margin: auto;
    display: flex;
    align-items: center;
    max-width: none;
    justify-content: center;
}

#tarteaucitronAlertBig #tarteaucitronDisclaimerAlert,
#tarteaucitronAlertBig #tarteaucitronDisclaimerAlert strong {
    font: 15px verdana;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    width: 60%;
}

#tarteaucitronAlertBig #tarteaucitronDisclaimerAlert strong {
    font-weight: 700;
}

#tarteaucitronAlertBig #tarteaucitronPrivacyUrl {
    cursor: pointer;
}

#tarteaucitronAlertBig #tarteaucitronCloseAlert,
#tarteaucitronAlertBig #tarteaucitronDeny,
#tarteaucitronAlertBig #tarteaucitronPersonalize,
#tarteaucitron #tarteaucitronPrivacyUrl {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 7px 12px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 7px;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: 5px;
}

#tarteaucitronAlertBig #tarteaucitronPersonalize {
    color: #000;
    background-color: #ffef1d;
    border: 1px solid #ffef1d;
}

#tarteaucitronAlertBig #tarteaucitronCloseAlert,
#tarteaucitron #tarteaucitronPrivacyUrl {
    background: #fff;
    color: #333;
    font-size: 14px;
}

#tarteaucitronPercentage {
    background: #0A0 !important;
    box-shadow: 0 0 2px #fff, 0 1px 2px #555;
    height: 5px;
    left: 0;
    position: fixed;
    width: 0;
    z-index: 2147483644;
}

#tarteaucitronAlertBig #tarteaucitronCloseAlert {
    background-color: transparent;
    /* text-transform: uppercase; */
    color: white;
}

/***
 * Small alert
 */

.tarteaucitronAlertSmallTop,
.tarteaucitronAlertSmallBottom {
    bottom: 0;
}

#tarteaucitronAlertSmall {
    background: #333;
    display: none;
    padding: 0;
    position: fixed;
    right: 0;
    text-align: center;
    width: auto;
    z-index: 2147483646;
}

#tarteaucitronAlertSmall #tarteaucitronManager {
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 11px !important;
    padding: 8px 10px 8px;
}

#tarteaucitronAlertSmall #tarteaucitronManager:hover {
    background: rgba(255, 255, 255, 0.05);
}

#tarteaucitronAlertSmall #tarteaucitronManager #tarteaucitronDot {
    background-color: gray;
    border-radius: 5px;
    display: block;
    height: 8px;
    margin-bottom: 1px;
    margin-top: 5px;
    overflow: hidden;
    width: 100%;
}

#tarteaucitronAlertSmall #tarteaucitronManager #tarteaucitronDot #tarteaucitronDotGreen,
#tarteaucitronAlertSmall #tarteaucitronManager #tarteaucitronDot #tarteaucitronDotYellow,
#tarteaucitronAlertSmall #tarteaucitronManager #tarteaucitronDot #tarteaucitronDotRed {
    display: block;
    float: left;
    height: 100%;
    width: 0%;
}

#tarteaucitronAlertSmall #tarteaucitronManager #tarteaucitronDot #tarteaucitronDotGreen {
    background-color: #1B870B;
}

#tarteaucitronAlertSmall #tarteaucitronManager #tarteaucitronDot #tarteaucitronDotYellow {
    background-color: #FBDA26;
}

#tarteaucitronAlertSmall #tarteaucitronManager #tarteaucitronDot #tarteaucitronDotRed {
    background-color: #9C1A1A;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesNumber {
    background: rgba(255, 255, 255, 0.2);
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    padding: 0px 10px;
    vertical-align: top;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesNumber:hover {
    background: rgba(255, 255, 255, 0.3);
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer {
    display: none;
    max-height: 70%;
    max-width: 500px;
    position: fixed;
    right: 0;
    width: 100%;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList {
    background: #fff;
    border: 2px solid #333;
    color: #333;
    font-size: 11px;
    height: auto;
    overflow: auto;
    text-align: left;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList strong {
    color: #333;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesTitle {
    background: #333;
    margin-top: 21px;
    padding: 13px 0 9px 13px;
    text-align: left;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesTitle strong {
    color: #333;
    font-size: 16px;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList .tarteaucitronCookiesListMain {
    background: rgba(51, 51, 51, 0.1);
    padding: 7px 5px 10px;
    word-wrap: break-word;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList .tarteaucitronCookiesListMain:hover {
    background: rgba(51, 51, 51, 0.2);
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList .tarteaucitronCookiesListMain a {
    color: #333;
    text-decoration: none;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList .tarteaucitronCookiesListMain .tarteaucitronCookiesListLeft {
    display: inline-block;
    width: 50%;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList .tarteaucitronCookiesListMain .tarteaucitronCookiesListLeft a strong {
    color: darkred;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList .tarteaucitronCookiesListMain .tarteaucitronCookiesListRight {
    color: #333;
    display: inline-block;
    font-size: 11px;
    margin-left: 10%;
    vertical-align: top;
    width: 30%;
}

/***
 * Fallback activate link
 */

.tac_activate {
    background: #333;
    color: #fff;
    display: table;
    font-size: 12px;
    height: 100%;
    line-height: initial;
    margin: auto;
    /*text-align: center;*/
    text-align: left;
    width: 100%;
}

.tac_float {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.tac_activate .tac_float strong {
    color: #333;
}

.tac_activate .tac_float .tarteaucitronAllow {
    background-color: #1B870B;
    display: inline-block;
}

/***
 * CSS for services
 */

ins.ferank-publicite,
ins.adsbygoogle {
    text-decoration: none;
}

div.amazon_product {
    height: 240px;
    width: 120px;
}

.tarteaucitronIsAllowed .tarteaucitronDeny {
    opacity: 0.4 !important;
}

.tarteaucitronIsDenied .tarteaucitronAllow {
    opacity: 0.4 !important;
}

.tarteaucitronIsAllowed .tarteaucitronAllow {
    opacity: 1 !important;
}

.tarteaucitronIsDenied .tarteaucitronDeny {
    opacity: 1 !important;
}

.tarteaucitronLine .tarteaucitronAllow,
.tarteaucitronLine .tarteaucitronAllow {
    opacity: 0.4;
}

#tarteaucitronRoot div#tarteaucitronInfo {
    display: block !important;
    position: initial !important;
    padding: 15px 0 !important;
    /* margin: -10px auto 40px!important; */
    font-size: 15px !important;
    line-height: 130% !important /* border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #555; */
}

a.tarteaucitronSelfLink {
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 13px !important;
    display: block;
    text-shadow: 0 0 14px white;
    text-transform: uppercase;
}

#tarteaucitronRoot .tarteaucitronMainLine .tarteaucitronH2 {
    margin-top: 4px !important;
    font-size: 20px;
    font-family: AvenirNextLTW01-Heavy !important;
    text-transform: uppercase;
    font-weight: 700;
    color: #0080b0;
}

#tarteaucitronRoot #tarteaucitron .tarteaucitronMainLine .tarteaucitronName {
    margin: 30px 0 20px;
}

#tarteaucitronRoot #tarteaucitron .tarteaucitronMainLine .tarteaucitronAsk {
    margin: 35px 0 20px 0 !important;
}

span.tarteaucitronTitle.tarteaucitronH3 {
    margin-top: 12px !important;
}

/* custom radio bt */

.tarteaucitronContainerRadio {
    display: flex;
    align-items: center
}

.tarteaucitronServiceInputCheckbox {
    display: none;
}

.tarteaucitronServiceInputCheckbox,
.tarteaucitronServiceInputCheckbox:after,
.tarteaucitronServiceInputCheckbox:before,
.tarteaucitronServiceInputCheckbox *,
.tarteaucitronServiceInputCheckbox *:after,
.tarteaucitronServiceInputCheckbox *:before,
.tarteaucitronServiceInputCheckbox + .tarteaucitronLabelCheckBox {
    box-sizing: border-box;
}

.tarteaucitronServiceInputCheckbox::-moz-selection,
.tarteaucitronServiceInputCheckbox:after::-moz-selection,
.tarteaucitronServiceInputCheckbox:before::-moz-selection,
.tarteaucitronServiceInputCheckbox *::-moz-selection,
.tarteaucitronServiceInputCheckbox *:after::-moz-selection,
.tarteaucitronServiceInputCheckbox *:before::-moz-selection,
.tarteaucitronServiceInputCheckbox + .tarteaucitronLabelCheckBox::-moz-selection {
    background: none;
}

.tarteaucitronServiceInputCheckbox::selection,
.tarteaucitronServiceInputCheckbox:after::selection,
.tarteaucitronServiceInputCheckbox:before::selection,
.tarteaucitronServiceInputCheckbox *::selection,
.tarteaucitronServiceInputCheckbox *:after::selection,
.tarteaucitronServiceInputCheckbox *:before::selection,
.tarteaucitronServiceInputCheckbox + .tarteaucitronLabelCheckBox::selection {
    background: none;
}

.tarteaucitronCheckBoxBt {
    outline: 0;
    display: block;
    width: 40px;
    height: 24px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.tarteaucitronCheckBoxBt:after,
.tarteaucitronCheckBoxBt:before {
    position: absolute;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tarteaucitronCheckBoxBt:after {
    left: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
}

.tarteaucitronCheckBoxBt:before {
    display: none;
}

.tarteaucitronServiceInputCheckbox:checked + .tarteaucitronLabelCheckBox .tarteaucitronCheckBoxBt:after {
    left: calc(50% - 2px);
}

.tarteaucitronServiceInputCheckbox + .tarteaucitronLabelCheckBox .tarteaucitronCheckBoxBt {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
}

.tarteaucitronServiceInputCheckbox + .tarteaucitronLabelCheckBox .tarteaucitronCheckBoxBt:after {
    border-radius: 50%;
    background: #fff;
    transition: all .2s ease;
}

.tarteaucitronServiceInputCheckbox + .tarteaucitronLabelCheckBox .tarteaucitronCheckBoxBt {
    background: #be0d0d;
}

.tarteaucitronServiceInputCheckbox:checked + .tarteaucitronLabelCheckBox .tarteaucitronCheckBoxBt {
    background: #00cc00;
}

#tarteaucitronRoot .allowTxt,
#tarteaucitronRoot .denyTxt {
    margin-right: 10px;
    display: block;
    color: #be0d0d;
    pointer-events: none;
    font-weight: 700;
    font-size: 14px;
}

#tarteaucitronRoot .allowTxt {
    display: none;
    color: #00cc00;
}

#tarteaucitronRoot .tarteaucitronServiceInputCheckbox:checked + .tarteaucitronLabelCheckBox .allowTxt {
    display: block
}

#tarteaucitronRoot .tarteaucitronServiceInputCheckbox:checked + .tarteaucitronLabelCheckBox .denyTxt {
    display: none
}

.tarteaucitronLabelCheckBox {
    display: flex;
    align-items: center;
}

.tarteaucitronLabelCheckBox:hover {
    cursor: pointer
}

#tarteaucitronClosePanel:after {
    content: "\0000D7";
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-top: -1px;
    font-size: 30px;
    height: 40px;
    width: 40px;
    border: 2px solid #0080b0;
    color: #0080b0;
    font-family: Arial !important;
    align-items: center;
    margin-left: 10px;
}

#tarteaucitronRoot .tarteaucitronTitle {
    background: transparent;
    color: #333333;
    display: block;
    font-size: 20px;
    font-family: AvenirNextLTW01-Heavy !important;
    text-transform: uppercase;
    font-weight: 700;
    color: #0080b0;
    margin: 40px 0px 0px;
    padding: 5px 20px 5px 0;
    text-align: left;
    width: auto;
}

#tarteaucitronAlertButtons > * {
    margin: 0px;
    width: auto;
}

@media screen and (max-width: 1024px) {

    #tarteaucitronRoot #tarteaucitronAlertBigContent {
        width: calc(100% - 40px);
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #tarteaucitronAlertButtons {
        display: flex;
        flex-shrink: 100%;
        flex-direction: column;
    }

}

@media screen and (max-width: 768px) {

    #tarteaucitronRoot #tarteaucitronAlertBigContent {
        width: calc(100% - 40px);
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #tarteaucitronAlertButtons {
        flex-direction: row;
    }

    #tarteaucitronRoot #tarteaucitronDisclaimerAlert {
        margin: 0 0 15px 0;
    }

    #tarteaucitronAlertBig #tarteaucitronDisclaimerAlert,
    #tarteaucitronAlertBig #tarteaucitronDisclaimerAlert strong {
        width: 100%;
    }

}

.olark_container {
    position: fixed;
    right: 18px;
    bottom: 13px;
    left: auto;
    max-width: 250px;
    padding: 20px;
    border-radius: 20px;
    z-index: 9000;
    background-color: #0080b0;
}

.olark_container .tac_activate {
    background-color: #0080b0 !important;
}

.olark_container .tac_activate .tac_float .tarteaucitronAllow {
    margin-left: 10px;
    color: #333;
    background-color: #ffef1d;
}

.eloqua_iframeContainer .tac_activate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.eloqua_iframeContainer .tac_activate .tac_float .tarteaucitronAllow,
.iframePlaceHolder .tac_activate .tac_float .tarteaucitronAllow {
    margin-left: 10px;
    color: #333;
    background-color: #ffef1d;
}

.iframePlaceHolder .tac_activate {
    padding: 10px 0;
}